body {
background: #e5e5e5 no-repeat center center fixed; //#3b5998
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.style{
margin-top: 24px;
  padding-left: 10%;
  margin-right:10%;
    padding-bottom: 180px;

}
h1
{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 50px;
//letter-spacing: 40px;
}

p
{
font-size: 18px;
letter-spacing: 1px;
margin-right: 10%;
margin-left: 10%;
}
.minihead{
background-color: #182B49;
    margin-bottom: 18px;
    margin-top: 40px;
    color: #f2f2f2;
    padding: 8px;
}
.indent{
  margin-left: 5%
}
.autofill{
color:#666666;
font-style: italic;
}
.jumbotron{

  background-color: #006A96;
  color: #f2f2f2;
  padding-top: 1em;
  padding-bottom: 0px;
  margin:  0px;
}


.soft{
  color: #676768;
  font-size: 13px;
  alitext-align: left;
}

.nav-tabs > li > a {
  color: #f2f2f2;
}

.hw_entry{
  font-size: 16px;
  min-width: 100px;

}

.unit_entry{
  font-size: 16px;
  min-width: 44px;

}

.G8Input{
min-width: 246px;
font-size: 16px;
}

.divider {
  height: 1px;
    background-color: darkgray;
    margin-top: -4px;
    margin-left: 0px;
}

.CARGLabel {
  font-size: 16px;
  margin-left: 10px;
}

.CARGRow {
  margin-bottom: 12px;
    margin-top: 20px;
}

.helpDiv {
  display: none;
  margin: 5px;
  margin-bottom: 20px;
  text-align: justify;
}

.verticalLine {
  border-left: thin solid lightgray;
}

.blankDivider {

margin-top: 8px
}

.CIRSTopicBtn {
  min-width: 240px;
  text-align: left;
}

.ACETopicBtn {
  min-width: 240px;
  text-align: left;
}

.helpDivTitle {
  font-weight: 700;
}

.CIRSRatingTitle {
  font-size: 22px;

}

.CIRSRadio {
  margin-left: -13px;
}

.ACERadio {
  margin-left: -13px;
}

.CIRSInstruct {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 18px;
  margin-right: -18px;
}

.formout{
  position: fixed;
   bottom: 0;
   width:100%;
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 16%;
   padding-right: 16%;
   background-color: #006A96;
   color: #f2f2f2;
   text-align: center;
}

.medtxt{
  font-size: 20px;
  text-align:left;
}
.bigout{
  font-weight: bold;

}
.finalout{
  text-align:left;
  font-size:200%;
  font-weight: bold;
}
.center {
margin: auto;
width: 50%;
padding: 10px;
text-align: center;
}
