body {
  background: #e5e5e5 no-repeat center center fixed; //#3b5998
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1
{
  color: blue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  //letter-spacing: 40px;
}

p
{
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 10%;
  margin-left: 10%;
}

  .row.content {height: 300 px}

.jumbotron {
  background-color: #006A96;
  color: #f2f2f2;
    padding: 0.5em 0.6em;
        h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

.leftcolumn{
text-align:left;

}

.formoutput{
background-color: #3b5998;
color: #f2f2f2;
height:90%;
padding: 20px;

}

.center {
  margin: auto;
   width: 50%;
   padding: 10px;
   text-align: center;
}

.abc
{
  color: #000000;//#e5e5e5;
  /*text-align:center;*/
  width: 95%;
  margin: 0 auto;
}
.form-group
{
  text-align: left;
}
