body {
  background: #e5e5e5 no-repeat center center fixed; //#3b5998
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1
{
  color: blue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  //letter-spacing: 40px;
}

p
{
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 10%;
  margin-left: 10%;
}

.abc
{
  color: #000000;//#e5e5e5;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.form-group
{
  text-align: left;
}

.binaryRow
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  color: #6b6b6b;
}

.lineRow
{
background-color: #9E9E9E;
  padding: 3px;

}
